.donate{
    position: relative;
    height: 45vh;
    display: flex;
    background: var(--l-blue);
}

.donate img.poo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}

.donate img.h{
    position: absolute;
    top: 50%;
    right: 150px;
    height: 220px;
    transform: translateY(-50%);
}

.donate .msg{
    padding-left: 150px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 15px;
}

.donate .msg .title{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--brown);
}

.donate .msg .para{
    font-size: 1.1rem;
    font-weight: 500;
    /* color: var(--brown); */
}

.donate .msg a.btn{
    color: var(--light);
    background: var(--orange);
    width: 130px;
    height: 50px;
    border-radius: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
  
    transition: background-color 0.3s;
  }
  
  .donate .msg a.btn:hover{
    background: var(--orange-active);
  }

  @media (max-width: 450px){
    .donate{
        height: 60vh;
    }
    .donate img.h{
        display: none;
    }
    .donate .msg{
        padding-left: 0px;
        align-items: center;
        gap: 40px;
    }
    .donate .msg .para{
        font-size: 1rem;
        font-weight: 500;
        width: 80%;
        line-height: 1.5rem;
        /* color: var(--brown); */
    }
}