.how{
    position: relative;
    width: 100%;
    min-height: 80vh;
    box-sizing: border-box;
    padding: 100px 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.how h1{
    font-size: 3rem;
    margin-bottom: 30px;
    z-index: 1;
}

.how p{
    font-size: 1.2rem;
    width: 50%;
    margin-bottom: -10px;
    z-index: 1;
}

.how p b{
    font-weight: 500;
    color: var(--orange);
}

.how p i{
    color: var(--brown);
}

.how p a{
    /* text-decoration: none; */
    font-weight: 500;
    color: var(--orange);
}

.how img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(25deg);
    left: -300px;
    height: 600px;
    border-radius: 20px;
    z-index: 0;
}

/* Small laptops */

@media (max-height: 600px){
    .how{
        min-height: 120vh;
        padding-bottom: 150px;
    }
    .how h1{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    
    .how p{
        font-size: 1.1rem;
        line-height: 1.8rem;
        width: 50%;
        margin-bottom: -1px;
    }
  
}

@media (max-width: 450px){
    .how{
        /* display: none; */
        padding: 30px 0;
    }
    .how img{
        display: none;
    }
    .how h1{
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .how p{
        font-size: 1rem;
        line-height: 1.7rem;
        width: 90%;
        margin: 5px;
    }
}