.how{
    position: relative;
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    padding: 100px 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.how h1{
    font-size: 3rem;
    margin-bottom: 30px;
    z-index: 1;
}

.how p{
    font-size: 1.2rem;
    width: 50%;
    margin-bottom: -10px;
    z-index: 1;
}

.how p b{
    font-weight: 500;
    color: var(--orange);
}

.how p i{
    color: var(--brown);
}

.how p a{
    /* text-decoration: none; */
    font-weight: 500;
    color: var(--orange);
}

.how img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(25deg);
    left: -300px;
    height: 600px;
    border-radius: 20px;
    z-index: 0;
}
