.team {
  box-sizing: border-box;
  padding: 100px 150px;
  position: relative;
  width: 100%;
  min-height: 50vh;
}

.team .title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: var(--brown);
}

.team .card-container{
    width: 100%;
    padding: 100px 0 70px;
    min-height: 50vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 100px 50px;

}

.team .card-container .card {
  position: relative;
    width: 250px;
    height: 280px;
    background: linear-gradient(to bottom, #f54500b0 0% 40%, var(--light) 40% 100%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 15px; 

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    cursor: pointer;

    transition: transform 0.5s;
}
.team .card-container .card:hover {
    transform: translateY(-5px) scale(1.01);
}

.team .card-container .card .dp {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--grey);
    overflow: hidden;
    border: 5px solid var(--orange);
}

.team .card-container .card .dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team .card-container .card .name {
    text-align: center;
    color: #212121;
    font-size: 1.3rem;
    font-weight: 600;
    width: 85%;
    line-height: 1.5rem;

    margin-top: 50%;
}
.team .card-container .card .sub {
    color: var(--dark);
    margin-top: 5px;
    opacity: 0.9;
    font-size: 1rem;
    font-weight: 500;
    transform: translateY(-15px);
}

.team .card-container .card a.btn {
    color: var(--light);
  background: var(--orange);
  width: 180px;
  height: 50px;
  border-radius: 30px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;

  position: absolute;
  bottom: 40px;
  
  transform: translate(0,20px);
  transition: background-color 0.3s;
}

.team .card a.btn:hover {
  background: var(--orange-active);
}

@media (max-width: 450px){
  .team{
    padding: 10px 0 80px;
      /* display: none; */
  }
  .team .title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--brown);
  }
}